* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

ul.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3079ED;
}

ul.menu li {
    transition: 300ms linear;
}

ul.menu li:first-child a{
    border-left: 1px solid rgba(0,0,0,.1);
}
ul.menu li a {
    display: block;
    padding: 20px;
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, .1);
}
ul.menu li.active a {
    background-color: #f7f7fc;
    color: #000;
}