* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui;
    outline: none;
}

button {
    display: none;
    background-color: #fa2431;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

ul.menu {
    background-color: #2231af;
    height: 50px;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    line-height: 50px;
    border-right: 1px solid rgba(0,0,0,.1);
}

ul.menu li a:hover {
    background-color: #2213af;
}

@media (max-width: 800px) {
    button {
        display: block;
    }

    ul.menu {
        visibility: hidden;
        opacity: 0;
        height: 205px;
    }

    ul.menu li {
        float: none;
    }

    ul.menu li a {
        border-bottom: 1px solid rgba(0,0,0,.1)
    }
}

@media (min-width: 800px) {
    ul.menu {
        height: 50px!important;
        visibility: visible!important;
        opacity: 1!important;
    }
}